.navbar {
    padding: 2vw;
    display: flex;
    align-items: center;
    margin: 3vw auto;
    border-bottom: 1px solid cyan;
    font-size: 1.1vw;
}

.navbar h1 {
    font-size: 2vw;
    cursor: pointer;
}

.navbar .links {
    margin-left: auto;
    font-size: 1.5vw;
}

.navbar a {
    margin-left: 1vw;
    text-decoration: none;
    padding: 0.5vw;
}

.navbar #new-blog {
    background-color: cyan;
    border-radius: 1vw;
    padding: 0.5vw 1vw;
}

.navbar #new-blog:hover {
    background-color: slategray;
    color: #333;
    border-radius: 1vw;
    padding: 0.5vw 1vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 1);
}

.navbar a:hover {
    color: cyan;
}
